$primary:#eff2f5;
$primary-dark:#191a1b;

.btn-toggle{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: $primary-dark;
  border: 1px solid $primary-dark;
  color: $primary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

 &.goLight{
  background: $primary-dark;
  color: $primary;
 }
 &.goDark{
  background: $primary;
  color: $primary-dark;
  }
}
.contenu{

  font-size: 20px;
  text-align: center;
  padding: 20px 4vw;
  color: $primary-dark;
  background: $primary;
  transition: all 0.2s ease-in-out;

  &.dark{
  color: $primary;
  background: $primary-dark;
  }
  &.light{
  color: $primary-dark;
  background: $primary;
  }
}